/* Charset */
@charset 'UTF-8';

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:wght@400;700&display=swap');

/* Variables */
:root {
    --main-background-color: #1E1E1E;
    --white-text-color: white;
    --money-green: #F18F01;
    --white: white;
    --warning-red: red;
    --transparent: transparent;
    --linear-bg: linear-gradient(var(--main-background-color), rgb(20, 30, 20));
    --disabled: grey;
    --dark-grey: #333;
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: .3rem;
}

::-webkit-scrollbar-track{
    background: var(--transparent);
    margin-block: .3rem;
}

::-webkit-scrollbar-thumb{
    background: var(--money-green);
    opacity: 50%;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    opacity: 100%;
}

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

.dollar {
    color: var(--money-green);
    font-family: 'Love Ya Like A Sister', sans-serif;
    letter-spacing: 1.5px;
}

.activeTab {
    color: var(--money-green);
    font-weight: bold;
}

.sectionHeader {
    text-transform: uppercase;
    color: var(--money-green);
    padding: 2rem 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-align: center;
}

.btn:focus{
    box-shadow: 0 0 0 0 !important;
}

/* Index Page Start */
body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-background-color);
    /* background: linear-gradient(var(--main-background-color), rgb(20, 30, 20)); */
    color: var(--white-text-color);
}

#page1,
#page2 {
    position: relative;
    min-height: 100vh;
}

/* Video */
video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.navigation {
    height: 150px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul li:hover {
    transform: translateY(-2px);
    transition: all 0.5s ease-in-out;
}

.nav ul li a {
    font-size: 17px;
    padding: 5px 30px;
}

.nav ul li a:hover {
    color: var(--money-green);
    transition: all 0.5s ease-in-out;
}

.toggler i {
    cursor: pointer;
    color: var(--money-green);
    font-size: 28px;
    padding: 5px;
    display: none;
}

.pageTitle {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageTitle h1,
.typewriter {
    text-transform: uppercase;
    text-align: center;
    font-size: 75px;
    letter-spacing: 1.5px;
    font-family: 'Love Ya Like A Sister', sans-serif;
}

.subHeader {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

.dribble {
    text-align: center;
}

.dribble a {
    cursor: pointer;
}

.dribble a i {
    color: var(--money-green);
    font-size: 50px;
}

.search {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBars {
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.searchBar {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.searchTitle {
    text-align: center;
    font-size: 20px;
    padding: 50px 0;
}

.dropdown button {
    font-size: 15px;
    width: 70%;
    padding: 1rem;
    border: 2px solid var(--white);
    border-radius: 30px;
    color: var(--white-text-color);
    text-transform: uppercase;
}

.dropdown button:hover {
    transform: scale(1.02);
    color: var(--white-text-color);
    box-shadow: 1px 1px 5px white;
    transition: all .5s ease-in-out;
}

.dropdown ul {
    width: 70%;
    height: 300px;
    overflow-y: scroll;
    border-radius: 15px;
    padding: 1rem;
}

.dropdown-item, .filter-dropdown-item {
    width: 100%;
    cursor: pointer;
    padding: .5rem 1rem;
}

.countryFilterSearch{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-magnifying-glass-location{
    color: var(--money-green);
}

.dropdownSeachBar{
    width: 100%;
    margin: 0;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid var(--money-green);
    border-radius: 0;
    color: var(--money-green);
    font-size: .9rem;
}

.dropdownSeachBar:focus{
    background-color: var(--transparent);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--money-green);
    color: var(--money-green);
}

.dropdownSeachBar::placeholder{
    color: var(--money-green);
    font-size: .9rem;
}

.dropdown-item:hover, .filter-dropdown-item:hover {
    transform: translateY(-2px);
    transition: all .3s ease-in-out;
}

.compareText {
    color: var(--money-green);
}

.pageBtn {
    margin-top: 100px;
    padding: 8px 17px;
    font-size: 18px;
    border: 2px solid var(--money-green);
    border-radius: 15px;
    background-color: var(--transparent);
    color: var(--white);
}

.pageBtn:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 8px var(--money-green);
    transition: all .3s ease-in-out;
}

/* Index Page End */

/* Result Page Start */
.details-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.baseTown,
.compareTown {
    width: 100%;
    padding: 1rem 2rem;
}

.townTitle {
    text-transform: uppercase;
    cursor: pointer;
}

.townTitle h4 {
    font-size: 1.8rem;
    padding: 1.5rem;
}

.baseName,
.compareName {
    width: 70%;
    padding: 1.2rem 0;
    margin: 0 auto;
    border: 1px solid var(--white);
    border-radius: 8px;
}

.compareTown .townTitle {
    color: var(--money-green);
}

.compareName {
    border: 1px solid var(--money-green);
}

.townDescription {
    padding: 1rem 0;
    border: 1px solid var(--white);
    border-radius: 8px;
    width: 75%;
    margin: 1rem auto;
}

.baseTown .townDescription .detailTitle {
    color: var(--money-green);
}

.compareTown .townDescription .detailContent {
    color: var(--money-green);
}

.countryDetails {
    padding: 0 1rem;
}

.detailTitle {
    letter-spacing: .01rem;
}

/* Filter */
#filter .dropdown {
    width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

#filter .dropdown ul {
    border: none;
    overflow-y: hidden;
    height: auto;
}

.dropdowns{
    margin-top: .3rem;
}

.dropdowns ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Accordions */
#comparisonAccordion {
    padding: 3rem 0;
}

.accordion-item {
    border: 1px solid var(--money-green);
    transition: box-shadow 0.3s ease-in-out;
}

.accordion-item:hover {
    box-shadow: 2px 2px 10px var(--money-green);
}

.accordion-item,
.accordion-item button {
    margin: 1rem;
    background-color: var(--dark-grey);
    border-radius: 8px;
    transition: all .5s ease-in-out;
}

.accordionHeader,
.accordion-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-button {
    color: var(--money-green) !important;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .1rem;
    background-color: var(--main-background-color) !important;
    outline: none;
    border: none;
}

.accordion-button.collapsed {
    color: var(--white-text-color) !important;
    background-color: var(--dark-grey) !important;
}

.accordion-button:focus{
    box-shadow: 0 0 0 0;
}

.accordionName {
    display: flex;
    align-items: center;
}

.accordionPercentage {
    font-size: 1.2rem;
    padding-right: 1rem;
}

.accordion-icon {
    font-size: 2.5rem;
    color: var(--money-green);
    padding: 0 1.5rem;
}

.accordionContent {
    color: var(--white-text-color);
}

.countryGrid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center;
    padding: .3rem 1rem;
}

.baseCapital,
.compareCapital {
    font-style: italic;
}

.comparisonItem {
    text-align: start;
    font-size: 1.2rem;
}

.comparison {
    font-size: 1.1rem;
    letter-spacing: .08rem;
    font-weight: bold;
}

p>span {
    color: var(--money-green);
    font-size: 20px;
    padding: 0 1rem;
    font-weight: bold;
}

/* Result Page End */

/* About Page Start */
#about .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#about .image img {
    height: 100%;
    width: 480px;
    border-radius: 0 200px 0 0;
}

#about .image img:hover {
    transform: translateY(-3px);
    transition: all .3s ease-in-out;
}

.bibliography {
    width: 100%;
}

.bibliography .bioText {
    padding: 2rem;
    font-size: 18px;
}

.bibliography .bioText:hover {
    transform: scale(1.01);
    transition: all 0.5s ease-in-out;
}

.socials ul {
    width: 100%;
    padding: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials .fa-brands {
    font-size: 35px;
    color: var(--white);
    margin: 1.5rem;
}

.socials .fa-brands:hover {
    transform: translateY(-5px);
    color: var(--money-green);
    transition: all 0.5s ease-in-out;
}

/* About Page End */

/* Contact Page Start */
#form .container {
    height: 80vh;
    display: grid;
    place-items: center;
}

.formSvg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.status {
    color: var(--warning-red);
    text-transform: uppercase;
}

.connectBtn,
.viewMessageBtn {
    display: block;
    margin: 1rem auto;
    font-size: 15px;
    text-transform: uppercase;
    background-color: var(--transparent);
    border: 2px solid var(--money-green);
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
    color: var(--white-text-color);
}

.connectBtn a,
.viewMessageBtn a {
    color: var(--white-text-color);
}

.disabled {
    display: block;
    margin: 1rem auto;
    font-size: 15px;
    color: black;
    background-color: var(--disabled);
    border: 2px solid var(--disabled);
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
}

.serverButtons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connectBtn:hover,
.viewMessageBtn:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-in-out;
}

form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    width: 94%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    outline: none;
    background-color: var(--transparent);
    border: 1px solid white;
    color: var(--money-green);
}

input:focus,
textarea:focus {
    border: none;
    background-color: var(--white);
    outline: 2px solid var(--money-green);
    color: var(--main-background-color);
}

textarea {
    height: 180px;
    font-style: italic;
}

.names {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn {
    margin-top: 30px;
    padding: 5px 20px;
    font-size: 17px;
    text-transform: uppercase;
    border: 2px solid var(--money-green);
    border-radius: 15px;
    background-color: var(--transparent);
    color: var(--white);
}

.submitBtn:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 8px var(--money-green);
    transition: all .3s ease-in-out;
}

/* Contact Page End */

/* Responsiveness  */
/* Very Large Screens */
@media all and (max-width: 1200px) {
    .townDescription {
        width: 100%;
    }
}

/* Large Screens */
@media all and (max-width: 1092px) {
    #about .container {
        flex-direction: column;
    }

    #about .image img {
        height: 500px;
        width: 330px;
        border-radius: 10px;
    }

    .bibliography .bioText {
        text-align: center;
        padding: 2rem 1rem;
    }
}

/* Medium Screens */
@media all and (max-width: 992px) {

    /* Index */
    .searchBars {
        padding: 10px;
        flex-direction: column;
    }

    .pageTitle h1,
    .typewriter {
        font-size: 65px;
    }

    .subHeader {
        font-size: 22px;
    }

    /* Results Page */
    .details-content {
        gap: 1rem;
    }

    .townTitle h4 {
        font-size: 1.5rem;
    }

    /* Filter */
    #filter .dropdown{
        width: 50%;
    }

    /* About Page */
    .bibliography .bioText {
        padding: 2rem .5rem;
    }

    /* Contact Page */
    .formSvg {
        display: flex;
    }

    .svg {
        display: none;
    }
}

/* Mobile view */
@media all and (max-width: 767px) {
    .navigation {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggler i {
        position: absolute;
        top: 50px;
        right: 0;
        transform: translateY(-50%);
    }

    .nav {
        display: none;
    }

    .nav-show {
        width: 100%;
        margin: 1rem auto;
        background-color: var(--dark-grey);
        border-radius: 15px;
        padding-top: .5rem;
        display: block;
        position: absolute;
        top: 100px;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
    }

    .nav ul li {
        padding: .5rem 0;
    }

    .pageTitle h1,
    .typewriter {
        font-size: 60px;
    }

    .subHeader {
        font-size: 18px;
    }

    .toggler i {
        display: block;
    }

    .dribble a i {
        font-size: 40px;
    }

    .searchTitle {
        padding: 20px 0;
        font-size: 20px;
    }

    .dropdown button {
        font-size: 16px;
    }

    .pageBtn {
        margin-top: 70px;
        padding: 8px 13px;
        font-size: 18px;
    }

    /* Results Page */
    .details-content {
        flex-direction: column;
    }

    .baseTown,
    .compareTown {
        width: 100%;
        padding: .5rem 1rem;
    }

    .townTitle h4 {
        padding: 1rem;
    }

    /* Filter */
    #filter .dropdown{
        width: 75%;
    }

    /* Accordion */
    .accordion-button{
        font-size: 1.5rem;
    }

    .accordionPercentage{
        display: none;
    }

    .comparisonItem{
        font-size: 1rem;
    }

    .comparison{
        font-size: 1rem;
        letter-spacing: .05rem;
    }

    /* About Page */
    .bibliography .bioText {
        font-size: 17px;
    }

    /* Contact Page */
    .submitBtn {
        margin: 2rem 0;
        padding: 5px 15px;
        font-size: 16px;
    }

}

/* Small Screen */
@media all and (max-width: 574px) {
    .sectionHeader {
        letter-spacing: 0.1rem;
    }

    /* Index Page */
    .pageTitle h1,
    .typewriter {
        font-size: 50px;
    }

    .subHeader {
        font-size: 16px;
    }

    .dribble a i {
        font-size: 30px;
    }

    .searchBars {
        padding: 5px;
    }

    .searchBar {
        margin: 5px;
    }

    .dropdown button {
        font-size: 15px;
    }

    .searchTitle {
        padding: 10px 0;
        font-size: 17px;
    }

    /* Contact Page */
    .form {
        width: 100%;
    }

    .names {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .serverButtons{
        flex-direction: column;
    }

    input,
    textarea {
        width: 100%;
    }

    .submitBtn {
        margin-top: 10px;
    }
}

@media all and (max-width: 442px){
    /* Results Page */
    /* Accordion */
    .accordion-button{
        font-size: 1.3rem;
    }

    .accordionPercentage{
        display: none;
    }

    .comparisonItem{
        font-size: .8rem;
    }

    .comparison{
        font-size: .8rem;
        letter-spacing: .05rem;
    }
}

@media all and (max-width: 350px) {

    /* Index Page */
    .pageTitle h1,
    .typewriter {
        font-size: 30px;
    }

    .subHeader {
        font-size: 15px;
    }
}